{% extends "base.html" %}
{% block explain_contents %}

<a href="/input">새로운 데이터 입력</a>
<table class="table">
   <thead>
    <tr>
        <th>지역</th><th>평균기온(℃)</th><th>최고기온(℃)</th><th>최저기온(℃)</th><th>강수량합계(mm)</th>
        <th>상대습도 평균(%)</th><th>일조시간 합계(시간)</th><th>수평면일사량 합계(MJ/㎡)</th><th>수정</th><th>삭제</th>
    </tr>
   </thead>
   <tbody>
    {% for project in object_list %}
    <tr>
        <td>{{ project[0] }}</td> <td>{{ project[1] }} </td> <td>{{ project[2] }}</td>
        <td>{{ project[3] }}</td> <td>{{ project[4] }} </td> <td>{{ project[5] }}</td>
        <td>{{ project[6] }}</td> <td>{{ project[7] }} </td> <!--한 행데이터 -->
        <td>
            <form name="myForm" id="myForm" action="/data_update" method="post">
                <input type="hidden" id="bunho" name="bunho" value="{{ project[0] }}" size="10">
                <button type="submit">정보 수정</button>
            </form>
        </td>
        <td>
        <form name="myForm" id="myForm" action="/data_delete" method="post">
            <input type="hidden" id="bunho" name="bunho" value="{{ project[0] }}" size="10">
            <button type="submit">정보 삭제</button>
        </form>
        </td>
    </tr>
    {% endfor %}
   </tbody>
</table>
{% endblock explain_contents %}
